@page
@model Proiect_Optional_Palamarciuc_Dina_ECTS.Pages.Studiile.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Studii</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studii.Gimnaziale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studii.Gimnaziale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studii.Liceale)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studii.Liceale)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studii.Superioare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studii.Superioare)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Studii.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
