@page "{id:int?}"
@model Proiect_Optional_Palamarciuc_Dina_ECTS.Pages.Studiile.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Studii[0].Gimnaziale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studii[0].Liceale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studii[0].Superioare)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model.StudiiData.Studiile) 
            {
                string selectedRow = "";
                if (item.ID == Model.StudiiID)
                {
                    selectedRow = "table-success";
                }
        <tr> class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Gimnaziale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Liceale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Superioare)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</> | 
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
